---
import ProductCard from "../../components/ProductCard";
import Layout from "../../layouts/Layout.astro";

const API_URL = import.meta.env.PUBLIC_API_URL || Astro.url.origin;

// get products
const response = await fetch(`${API_URL}/api/products.json`);
const { products } = await response.json();

// check products
if (!products) {
  console.log("Products not found");
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<Layout title="Store - That Black Girl">
  <section class="max-w-screen-xl mx-auto px-2 py-20">
    <!-- container -->
    <div class="grid gap-4 md:grid-col-2 md:gap-6 xl:grid-cols-3">
      {
        products.map((product: any) => (
          <ProductCard product={product} client:load />
        ))
      }
    </div>
  </section>
</Layout>
