@import "tailwindcss";

@theme {
    --color-sunset-orange:#FF5E3A;
    --color-midnight-blue:#1A1A40;
    --color-golden-glow:#FFC857;
    --color-warm-beige:#F4E1D2;
    --color-deep-olive:#4B6043;

    /* Screens */
    --breakpoint-xs: 480px;     
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

}