---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import HomeProduct from "../components/HomeProduct";

// get products
const response = await fetch(`${Astro.url.origin}/api/products.json`);
const { products } = await response.json();

// check products
if (!products) {
  console.log("Products not found");
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<Layout title="Home - That Black Girl Blog">
  <!-- <Hero /> -->
  <section
    class="h-screen bg-cover bg-center flex items-center justify-center"
    style="background-image: url('https://images.unsplash.com/photo-1523381140794-a1eef18a37c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MjQ2fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60')"
  >
    <div class="bg-black bg-opacity-50 p-8 rounded-lg text-center text-white">
      <h1 class="text-4xl md:text-6xl font-bold mb-4">The Balanced Life</h1>
      <p class="text-xl md:text-2xl mb-6">
        Live intentionally. Shop mindfully.
      </p>
      <button
        class="px-6 py-3 bg-teal-500 text-white rounded-lg hover:bg-teal-600"
        >Explore Now</button
      >
    </div>
  </section>

  <section class="max-w-screen-xl mx-auto px-2 py-20">
    <!-- container -->
    <div class="grid gap-4 md:grid-col-2 md:gap-6 xl:grid-cols-3">
      {
        products
          .slice(3)
          .map((product: any) => <HomeProduct product={product} client:load />)
      }
    </div>
  </section>
</Layout>
