---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home - That Black Girl Blog">
  <h1 class="text-sunset-orange font-bodoni text-2xl sm:text-4xl md:text-6xl">
    I am an Indaboski
  </h1>
  <h2>Heading 2</h2>
  <h3>Heading 2</h3>
  <div class="subheading">Raleway Paragraph</div>
  <p class="">Nunito Text</p>
</Layout>
